/*
    Document   : prompts.css
    Created on : Jan 10, 2012, 10:12:51 AM
    Author     : Zorayr Khalapyan
    Description:
        Encapsulates general application stylesheets.
*/

.number-counter
{
    text-align: center;
}

.math-sign
{
    text-align: center;
    color: #2685BB !important;
    cursor: pointer;
}

.math-sign-disabled
{
    text-align: center;
    color: #C0C0C0 !important;
    cursor: pointer;
}

img.photo-response
{
    width: auto;
    height: auto;
}



